html body{margin:0px auto; padding:0px;}
html li{height:24px;}
/*assign part*/
.wrapper{width:100%; height:auto !important; display:table; margin:0 auto;}
.module{display:table; margin:0px auto; padding:0px; width:100%; background-color:#ffffff;}
.module .mod_top{display:table; margin-top:10px; width:100%; height:30px;}
.module .mod_top span{display:block; font-size:14px;}
.module .mod_top label{font-size:14px; font-weight:100;}
.module .mod_top span.mod_label{width:160px; font-weight:bold; color:#666;}
.module .mod_top span.mod_all{padding-top:10px; height:24px;}
.module .mod_content{width:100%; height:120px; overflow:auto; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.module .mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
.module .mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:24%; height:auto; min-height:24px; float:left;}
.clm_modudle{display:inline-block; height:auto; float:left;}
.clm_modudle_wid{margin-left:1%; width:39%;}
.clm_modudle .clm_mod_top{width:100%; height:25px;}
.clm_modudle .clm_mod_top span{font-size:14px;}
.clm_modudle .clm_mod_top input{width:200px;}
.clm_modudle .clm_mod_top .default_search{color:gray; font-style:italic;}
.clm_modudle .clm_mod_content{width:100%; height:200px; overflow:auto; border:1px solid #ccc;}
.clm_modudle .clm_mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
.clm_modudle .clm_mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:99%; height:auto; min-height:24px; float:left;}
/*buttons part*/
.toolBotton{padding:0; margin:0 auto; position:relative; height: 30px; margin-bottom:10px;}
.toolBotton input{width:80px;}
div.toolBotton div.btns1{display:inline-block; width:10%; height:24px; margin-left:35%; margin-top:10px; text-align:center;}
div.toolBotton div.btns2{display:inline-block; width:10%; height:24px; margin-right:35%; margin-top:10px; text-align:center;}
/*errors*/
input.error,select.error,textarea.error,  input.cusErrorPanel,cusErrorPanel.cusErrorPanel,textarea.cusErrorPanel{border:solid 1px red;}
div.cusErrorPanel{z-index:auto; position:absolute; width:276px; height:35px; overflow:hidden; text-indent:5px; line-height:40px; font-size:12px; font-family:Arial; background:url(images/validation/tooltop.gif) no-repeat left top; opacity:0.9; filter: alpha(opacity=90);}