html body{margin:0px auto; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size:13px;}
html body input{margin:0px; padding:0px; font-family:Verdana, Geneva, sans-serif;}
html li{height:24px;}
.fform{margin:0 auto; padding:0px; width:99%; height:auto !important; overflow:hidden;}
.left{float:left;}
.fform textarea{resize:none;}
.calpick{cursor:pointer; background:url("images/cal.gif") right 3px center no-repeat scroll; border: 1px solid #3C7FB1 !important;}      
div.item{width:100%; height:auto !important; display:table;}
div.llabel{border:1px solid #ffffff; width:100px; height:28px; float:left; overflow:hidden;}
div.llabel label{display:block; margin-top:3px; vertical-align:top;}
div.llabel label span{font-weight:normal; color:#666666;}
div.llabel label span.section_label{font-size:14px; font-weight:bold;}
div.rcontent{border:1px solid #ffffff; /*width:460px; */ height:auto !important; float:left;}
div#dmcontent{padding-top:5px;}
div.rcontent label{display:inline-block; margin-right:10px;}
div.rcontent select, div.rcontent input{display:inline-block; height:22px; line-height:18px; margin-top:3px; margin-right:10px; outline:medium none;}
.select{width:180px; font-family:Verdana, Geneva, sans-serif;}
div.ttext{width:270px; height:24px; float:left;}
div.ttext input{width:260px;}
div.spliter{margin:10px 0px 10px 0px; width:100%; height:1px; background-color:#cccccc;}
/* for links/resources/rl */
#duimg{width:20px; float:left;}
div.optional{display:none;}
div.optional .urlimg{border:0px; width:15px; height:15px; cursor:pointer;}
div.optional .topicshow ul{margin:0 auto; margin-top:3px; padding:0; list-style:none;}
div.optional .topicshow ul li{width:99%; margin:0 auto; padding:0; list-style-type:none; white-space:nowrap; overflow:hidden; text-align:left;}
/*assign part*/
.phony{}
.wrapper{width:100%; height:auto !important; display:table; margin:0 auto;/* background-color:#ccd9e8;*/}
.module{display:table; margin:0px auto; padding:0px; width:100%; background-color:#ffffff;}
.module .mod_top{display:table; margin-top:10px; width:100%; /*height:30px;*/}
.module .mod_top span{display:block;}
.module .mod_top label{font-weight:100;}
.module .mod_top span.mod_label{width:160px; font-weight:bold;}
.module .mod_top span.mod_all{padding-top:10px; height:24px;}
.module .mod_content{width:100%; overflow:auto;/* height:120px; border-top:1px solid #88a0be; border-bottom:1px solid #88a0be; border-top:1px solid #CCC; border-bottom:1px solid #ccc;*/}
.module .mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
.module .mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:24%; height:auto; min-height:24px; float:left;}
.module .mod_content .ui-items li input, .module .mod_content .ui-items li span{vertical-align:middle; height:14px;}
.module .mod_content .ul-items{list-style:none; margin:0 auto; padding:0;}
.module .mod_content .ul-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:33.3%; height:auto; min-height:24px; float:left;}
.module .mod_content .ul-items li input, .module .mod_content .ui-items li span{vertical-align:middle; height:14px;}
.clm_modudle{display:inline-block; height:auto; float:left;/* border:1px solid #88a0be;*/}
.clm_modudle_wid{margin-left:1%; width:39%;}
.clm_modudle .clm_mod_top{width:100%; height:25px; line-height:20px;}
/*.clm_modudle .clm_mod_top span{font-size:14px;}	*/
.clm_modudle .clm_mod_top input{width:200px;}
.clm_modudle .clm_mod_top .default_search{color:gray; font-style:italic;}
.clm_modudle .clm_mod_content{width:100%; height:200px; overflow:auto; border:1px solid #ccc;}
.clm_modudle .clm_mod_content .ui-items{list-style:none; margin:0 auto; padding:2px 0px 0px 5px;}
.clm_modudle .clm_mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:99%; height:auto; min-height:24px; float:left;}
.clm_modudle .clm_mod_content .ui-items li input, .clm_modudle .clm_mod_content .ui-items li span{vertical-align:middle; height:14px;}
/*buttons part*/
.toolBotton{padding:0; margin:0 auto; position:relative; height: 30px; margin-bottom:10px;}
.toolBotton input{width:80px;}
div.toolBotton div.btns1{display:inline-block; display:inline; zoom:1; width:10%; height:24px; margin-left:35%; margin-top:10px; text-align:center;}
div.toolBotton div.btns2{display:inline-block; display:inline; zoom:1; width:10%; height:24px; margin-right:35%; margin-top:10px; text-align:center;}
/*errors*/
.errordiv{float:left; margin-top:4px; margin-left:10px; color:red;}
.errorbdr{border:1px solid red;}
input.error,select.error,textarea.error,  input.cusErrorPanel,cusErrorPanel.cusErrorPanel,textarea.cusErrorPanel{border:solid 1px red;}
div.cusErrorPanel{z-index:auto; position:absolute; width:276px; height:35px; overflow:hidden; text-indent:5px; line-height:40px; font-size:12px; font-family:Arial; background:url(images/validation/tooltop.gif) no-repeat left top; opacity:0.9; filter: alpha(opacity=90);}
/*for restore the css of jqueryui*/
.ui-widget-content{border:1px solid #cccccc;}
.ui-tabs .ui-tabs-nav li a{padding:0.2em 1em 0.2em 1em !important;}
/**/
#swrapper{position:absolute; width:820px; height:auto; overflow:auto; overflow-x:hidden; overflow-y:scroll;}
/* to make ckeditor ok button's color */
a.cke_dialog_ui_button_ok{color:#333333 !important;}
