html body{margin:0 auto; padding:0px; background-color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:13px;}
html body input{margin:0px; padding:0px;}
html li{height:24px;}

#swrapper{position:absolute; width:820px; height:auto; overflow:auto; overflow-x:hidden; overflow-y:scroll;}
div.wrapper{display:table; width:99%; height:auto; margin:0 auto; padding:0px;}
div.wrapper div.item{display:table; width:100%; height:auto; margin-bottom:10px;}
div.wrapper div.item .tips, .tips{font-size:11px; color:#902727;/* font-style:italic; */}
div.wrapper div.item div.label, div.label{width:10%; height:20px; margin-bottom:10px; text-align:left; font-weight:bold;/* float:left;*/}
div.wrapper div.item div.content{display:table; width:90%; height:auto; float:right;}
div.wrapper div.item div.content .ul{margin:0px; padding:0px; list-style:none; width:100%; height:100%; overflow:auto;}
div.wrapper div.item div.content .ul li{margin:0px; margin-top:3px; padding:0px; list-style:none; list-style-type:none; width:49%; height:20px; display:block; float:left;} 
div.wrapper div.item div.btns1{display:inline-block; width:10%; height:24px; margin-left:35%; margin-top:10px; text-align:center;}
div.wrapper div.item div.btns2{display:inline-block; width:10%; height:24px; margin-right:35%; margin-top:10px; text-align:center;}

#div_assignby div.module{display:table; margin:0px auto; padding:0px; width:100%; background-color:#ffffff;}
#div_assignby div.module div.mod_top{display:table; margin-top:10px; width:100%; height:30px;}
#div_assignby div.module div.mod_top div.mod_label{width:160px; font-weight:bold;}
#div_assignby div.module div.mod_top div.mod_all{padding-top:10px; padding-bottom:3px;}
#div_assignby div.module div.mod_top div.mod_all label{font-weight:100;}
#div_assignby div.module div.mod_content{width:100%; overflow:auto; height:120px;/* border-top:1px solid #88a0be; border-bottom:1px solid #88a0be;*/ border-top:1px solid #CCC; border-bottom:1px solid #ccc;}
#div_assignby div.module div.mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
#div_assignby div.module div.mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:24%; height:auto; min-height:24px; float:left;}
#div_assignby div.module div.mod_content .ui-items li input, #div_assignby .module .mod_content .ui-items li span{vertical-align:middle; height:14px;}
#div_assignby div.module div.mod_content .ul-items{list-style:none; margin:0 auto; padding:0;}
#div_assignby div.module div.mod_content .ul-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:48%; height:auto; min-height:24px; float:left;}
#div_assignby div.module div.mod_content .ul-items li input, #div_assignby .module .mod_content .ul-items li span{vertical-align:middle; height:14px;}
#div_assignby .clm_modudle{display:inline-block; height:auto; float:left;/ *border:1px solid #88a0be;*/}
#div_assignby .clm_modudle_wid{margin-left:1%; width:39%;}
#div_assignby .clm_modudle .clm_mod_top{width:100%; height:25px;}
#div_assignby .clm_modudle .clm_mod_top span{/*font-size:13px;*/}
#div_assignby .clm_modudle .clm_mod_top input{width:200px;}
#div_assignby .clm_modudle .clm_mod_top .default_search{color:gray; font-style:italic;}
#div_assignby .clm_modudle .clm_mod_content{width:100%; height:200px; overflow:auto; border:1px solid #ccc;}
#div_assignby .clm_modudle .clm_mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
#div_assignby .clm_modudle .clm_mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:99%; height:auto; min-height:24px; float:left;}
#div_assignby .clm_modudle .clm_mod_content .ui-items li input, #div_assignby .clm_modudle .clm_mod_content .ui-items li span{vertical-align:middle; height:14px;}	

/*for assignment copying form eventform*/
/*.wrapper{width:100%; height:auto !important; display:table; margin:0 auto; background-color:#ccd9e8;}*/
#div_view .module{display:table; margin:0px auto; padding:0px; width:100%; background-color:#ffffff;}
#div_view .module .mod_top{display:table; margin-top:10px; width:100%; /*height:30px;*/}
#div_view .module .mod_top span{display:block;}
#div_view .module .mod_top label{font-weight:100;}
#div_view .module .mod_top span.mod_label{width:160px; font-weight:bold;}
#div_view .module .mod_top span.mod_all{padding-top:10px; height:24px;}
#div_view .module .mod_content{width:100%; overflow:auto;/* height:120px; border-top:1px solid #88a0be; border-bottom:1px solid #88a0be; border-top:1px solid #CCC; border-bottom:1px solid #ccc;*/}
#div_view .module .mod_content .ui-items{list-style:none; margin:0 auto; padding:0;}
#div_view .module .mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:24%; height:auto; min-height:24px; float:left;}
#div_view .module .mod_content .ui-items li input, #div_view .module .mod_content .ui-items li span{vertical-align:middle; height:14px;}
#div_view .module .mod_content .ul-items{list-style:none; margin:0 auto; padding:0;}
#div_view .module .mod_content .ul-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:33.3%; height:auto; min-height:24px; float:left;}
#div_view .module .mod_content .ul-items li input, #div_view .module .mod_content .ui-items li span{vertical-align:middle; height:14px;}
#div_view .clm_modudle{display:inline-block; height:auto; float:left;/* border:1px solid #88a0be;*/}
#div_view .clm_modudle_wid{margin-left:1%; width:39%;}
#div_view .clm_modudle .clm_mod_top{width:100%; height:25px; line-height:20px}
/*.clm_modudle .clm_mod_top span{font-size:14px;}	*/
#div_view .clm_modudle .clm_mod_top input{width:200px;}
#div_view .clm_modudle .clm_mod_top .default_search{color:gray; font-style:italic;}
#div_view .clm_modudle .clm_mod_content{width:100%; height:200px; overflow:auto; border:1px solid #ccc;}
#div_view .clm_modudle .clm_mod_content .ui-items{list-style:none; margin:0 auto; padding:2px 0px 0px 4px;}
#div_view .clm_modudle .clm_mod_content .ui-items li{list-style-type:none; margin:0 auto; padding:0; display:block; width:99%; height:auto; min-height:24px; float:left;}
#div_view .clm_modudle .clm_mod_content .ui-items li input, #div_view .clm_modudle .clm_mod_content .ui-items li span{vertical-align:middle; height:14px;}
/*for restore the css of jqueryui*/
.ui-widget-content{border:1px solid #cccccc;}
.ui-tabs .ui-tabs-nav li a{padding:0.2em 1em 0.2em 1em !important;}