html 
{
	height: 100%;
    margin: 0px;
    overflow: visible;
    width: 100%;
}
body {
/*   BACKGROUND-IMAGE: url(http://www.ace-learning.com.sg/sys/images/misc/background.png);*/
/*   BACKGROUND-IMAGE: url(http://202.172.226.11/sys/images/misc/background.png);  */
   
   /*
     BACKGROUND-IMAGE: url(../images/misc/background.png);  
     BACKGROUND-REPEAT: repeat-y;  
*/
/*     
     BACKGROUND-IMAGE: url(../images/misc/bg_b.gif);
     BACKGROUND-REPEAT: repeat-x;
     BACKGROUND-COLOR: #EDEDED; */
  
    BACKGROUND-COLOR: #FFFFFF;
     
    FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
	width: 100%;
	height: 100%;
    margin: 0px;
	overflow: auto;
		
}

a {
	BORDER : 0px;

}	
#wrapper {
    margin:0 auto;
    width:100%;
    height:100%;
}

#DivHeader {
/*     
     POSITION: relative;
     TOP: 0px;
     LEFT: 0px;
     HEIGHT: 144px;
     WIDTH: 760px; 
*/
     POSITION: relative;
     /*TOP: 1px;*/
     TOP: 0px;
     LEFT: 0px;
     HEIGHT: 80px;
	 width:100%;
	/* padding-top:1px;*/
     
}
#Wrapper
{
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;
}
.colleft {
	float:left;
	width:100%;
	position:relative;
}
#DivSubMenu {
/*
     POSITION: absolute;
     TOP: 144px;
     LEFT: 0px;
     WIDTH: 180px;
*/
     

	 POSITION: absolute;
     TOP: 112px;
     LEFT: 10px;
     WIDTH: 220px;
	 
	/* POSITION: relative;
     TOP: 35px;
     LEFT: 0;
     width:23%;*/
  
}

#DivContent {
     /*
     POSITION: relative;
     TOP: 0px;
     LEFT: 180px;
     WIDTH: 580px; 
     BACKGROUND: #FFFFFF;
     */
    
     POSITION: absolute;
     TOP: 103px;
     LEFT: 220px;
	 RIGHT: 10px;
     BACKGROUND: #FFFFFF;
      /*
     POSITION: relative;
     left: 100%;
     width:71%;
     BACKGROUND: #FFFFFF;*/
     
}

#DivContent2 {
     /*
     POSITION: relative;
     TOP: 0px;
     LEFT: 180px;
     WIDTH: 580px; 
     BACKGROUND: #FFFFFF;
     */
     
     POSITION: absolute;
     TOP: 125px;
     LEFT: 200px;
     WIDTH: 800px; 
     BACKGROUND: #FFFFFF;
     
}


#DivFooter {
/*
     POSITION: relative;
     TOP: 0px;
     LEFT: 180px;
     WIDTH: 580px; 
*/
    POSITION: relative;
    BACKGROUND: #333333;
    LEFT: 10px;
    

}

p {
     COLOR: #000000;
     FONT-FAMILY: verdana ;
     FONT-SIZE: 10pt;
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
}

p A {
     COLOR: #4A65A5 !important;
     TEXT-DECORATION: none; 
	
}

p A:hover {
     COLOR: #993300;
	 background: #ffff00; 
     TEXT-DECORATION: none;
}

.Normal {
     COLOR: #333333;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
}

.Normal A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.Normal A:hover {
     COLOR: #993300;
     TEXT-DECORATION: none;
}


.Medium {
     COLOR: #333333;
     FONT-FAMILY: verdana;
     FONT-SIZE: 8pt;
}

.Medium A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.Medium A:hover {
     COLOR: #993300;
     TEXT-DECORATION: none;
}



pSmall {
     COLOR: #333333;
     FONT-FAMILY: verdana;
     FONT-SIZE: 6pt;
}

pSmall A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

pSmall A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: none;
}

li {
     COLOR: #000000;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     LIST-STYLE-TYPE: square;
     PADDING-TOP: -50px;
    /* MARGIN-LEFT: -24px;*/
     MARGIN-LEFT: 15px;
}

li A {
     COLOR: #0061A5;
     TEXT-DECORATION: none;
}

li A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: none;
}

.clsMenuBarItem {
     COLOR: #004080;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: bold;
     TEXT-DECORATION: none;
     LINE-HEIGHT: 14pt;
}


A.clsMenuBarItem {
     COLOR: #004080;
     TEXT-DECORATION: none;
}


A.clsMenuBarItem:hover {
     COLOR: #004080;
     TEXT-DECORATION: none;
}

DIV.clsMenu {
     BACKGROUND-COLOR: #CEDFFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     BORDER-BOTTOM: #4A65A5 1px solid;
     BORDER-LEFT: #4A65A5 1px solid;
     BORDER-RIGHT: #4A65A5 1px solid;
}

.Menu {
     COLOR: #FFFFFF;
     FONT-FAMILY: arial narrow, verdana;
     FONT-SIZE: 10pt;
     FONT-VARIANT: small-caps;
     VERTICAL-ALIGN: middle;
}

.Menu A {
     COLOR: #FFFFFF;
     TEXT-DECORATION: none;
}

.Menu A:hover {
     COLOR: #FFFFFF;
     TEXT-DECORATION: underline;
}

/* SubMenu */

.SubMenu {
     COLOR: #4A65A5;
     BACKGROUND-COLOR: #BDCFF7;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     TEXT-DECORATION: none;
     PADDING-TOP: 6px;
     PADDING-BOTTOM: 6px;
     PADDING-LEFT: 15px;
     BORDER-BOTTOM: 1px solid #94AACE;
     WIDTH: 180px;
}

.SubMenu A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.SubMenu A:hover {
     COLOR: #4A65A5;
}

.SubMenuCurrent {
     COLOR: #94AACE;
     BACKGROUND-COLOR: #FFFFFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     TEXT-DECORATION: none;
     PADDING-TOP: 6px;
     PADDING-BOTTOM: 6px;
     PADDING-LEFT: 15px;
     BORDER-BOTTOM: 1px solid #94AACE;
}

.SubMenuCurrent A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.SubMenuCurrent A:hover {
     COLOR: #4A65A5;
}

/* Sidebar */

.SidebarHeader {
     COLOR: #4A65A5;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: bold;
}

.SidebarBody {
     COLOR: #4A65A5;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
}

.SidebarBody A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.SidebarBody A:hover {
     COLOR: #4A65A5;
     TEXT-DECORATION: underline;
}





/* Footer */

.Footer {
     COLOR: #666666;
     FONT-FAMILY: verdana;
     FONT-SIZE: 7.5pt;
     FONT-WEIGHT: none;
     TEXT-DECORATION: none;
     TEXT-ALIGN: left;
     PADDING: 5px;
}

.Footer A {
     COLOR: #0061A5;
     TEXT-DECORATION: none;
}

.Footer A:hover {
     COLOR: #993300;
     TEXT-DECORATION: underline;
}

/* Location */

.Location {
     COLOR: #666666;
     FONT-FAMILY: verdana;
     FONT-SIZE: 8pt;
     FONT-WEIGHT: none;
     TEXT-DECORATION: none;
	 padding: 10px;
	 padding-left:1px;
}

.Location A {
     COLOR: #0061A5;
     TEXT-DECORATION: underline;
}

.Location A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: underline;
}

/* Fields */

.FieldLabel {
   /*  COLOR: #808080;  */
     COLOR: #666666;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
}

.FieldLabel A {
     COLOR: #4A65A5;
     TEXT-DECORATION: underline;
}

.FieldLabel A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: none;
}

.FieldInput {
     COLOR: #333333;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     PADDING: 1px;
}

.FieldOutput {
     COLOR: #333333;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
}

.FieldOutput A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.FieldOutput A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: none;
}

li.FieldOutput {

}

.FieldButton {
     COLOR: #4A65A5;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     TEXT-DECORATION: none;
     CURSOR: pointer;
}

.FieldQuestion {
     COLOR: #FFFFFF;
     BACKGROUND-COLOR: #739EDE;
     FONT-FAMILY: verdana;
     FONT-SIZE: 7pt;
     FONT-WEIGHT: bold;
     BORDER: 4px solid #FFFFFF;
     TEXT-DECORATION: none;
     CURSOR: pointer;
}

.FieldAnswer {
     COLOR: #FFFFFF;
     BACKGROUND-COLOR: #739EDE;
     FONT-FAMILY: verdana;
     FONT-SIZE: 16pt;
     FONT-WEIGHT: bold;
     BORDER: 4px solid #FFFFFF;
     TEXT-DECORATION: none;
     CURSOR: pointer;
}

button {
     CURSOR: pointer;
}

/* QUERY RESULTS OF A TABLE */

.TableBorder {
     BORDER: #000000 1px solid;
}

.TableBorder2 {
     BORDER: #CCCCCC 1px solid;
}

.TableBorder3 {
     BORDER: #FE9900 1px solid;
}


.TableHeader {
     COLOR: #FFFFFF;
     BACKGROUND-COLOR: #999999; 
/*   BACKGROUND-COLOR: #4A65A5;  */ 
/*   BACKGROUND-COLOR: #9EB9F6;  */
     
     FONT-FAMILY: verdana !important;
     FONT-SIZE: 8pt !important;
     FONT-WEIGHT: bold !important;
     TEXT-ALIGN: center !important;
}

.TableHeader TD{
    
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
    
}


.TableHeader A {
     COLOR: #FFFFFF !important;
     TEXT-DECORATION: underline ;
}

.TableHeader A:hover {
     COLOR: #F7F7F7;
     TEXT-DECORATION: none;
}

.TableHeader2 {
     COLOR: #666666;
     BACKGROUND-COLOR: #FFCC00;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: bold;
     TEXT-ALIGN: center;
}

.TableHeader2 TD{
     
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
     
}

.TableHeader2 A {
     COLOR: #FFFFFF;
     TEXT-DECORATION: underline;
}

.TableHeader2 A:hover {
     COLOR: #F7F7F7;
     TEXT-DECORATION: none;
}

.TableHeader3 {
     COLOR: #666666;
     BACKGROUND-COLOR: #CCCCCC;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: bold;
     TEXT-ALIGN: center;
}

.TableHeader3 TD{
    
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
    
}

.TableHeader3 A {
     COLOR: #FFFFFF;
     TEXT-DECORATION: underline;
}

.TableHeader3 A:hover {
     COLOR: #F7F7F7;
     TEXT-DECORATION: none;
}

.TableBody {
     COLOR: #000000;
     BACKGROUND-COLOR: #FFFFFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody A {
     COLOR: #003399;
     TEXT-DECORATION: none;
}

.TableBody A:hover {
/*   COLOR: #FF6633; */
     COLOR: #993300;	
	 background: #ffff00;
     TEXT-DECORATION: none;
}

.TableBody0 {
     COLOR: #000000;
     BACKGROUND-COLOR: #FFFFFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody0 TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody0 A {
     COLOR: #003399 !important;
     TEXT-DECORATION: none !important;
}

.TableBody0 A:hover {
/*   COLOR: #FF6633; */
     COLOR: #993300;	
	 background: #ffff00;
     TEXT-DECORATION: none;
}

.TableBody1 {
     COLOR: #000000;
     BACKGROUND-COLOR: #EFEFEF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody1 TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody1 A {
     COLOR: #003399 !important;
     TEXT-DECORATION: none !important;
}

.TableBody1 A:hover {
/*   COLOR: #FF6633; */
     COLOR: #993300;	
	 background: #ffff00;
     TEXT-DECORATION: none;
}

.TableBody2 {
     COLOR: #99CCFF;
     BACKGROUND-COLOR: #99CCFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody2 TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody2 A {
     COLOR: #003399;
     TEXT-DECORATION: none;
}

.TableBody2 A:hover {
/*   COLOR: #FF6633; */
     COLOR: #993300;	
	 background: #ffff00;
     TEXT-DECORATION: none;
}

.TableBody3 {
     COLOR: #99CCFF;
     BACKGROUND-COLOR: #99FFCC;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody3 TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody3 A {
     COLOR: #003399;
     TEXT-DECORATION: none;
}

.TableBody3 A:hover {
/*   COLOR: #FF6633;  */
     COLOR: #993300;
background: #ffff00;	 
     TEXT-DECORATION: none;
}

.TableBody4 {
     COLOR: #99CCFF;
     BACKGROUND-COLOR: #CCFFFF;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: none;
     VERTICAL-ALIGN: top;
}

.TableBody4 TD{
     
     PADDING-TOP: 3px;
     PADDING-BOTTOM: 3px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

.TableBody4 A {
     COLOR: #003399;
     TEXT-DECORATION: none;
}

.TableBody4 A:hover {
/*   COLOR: #FF6633;  */
     COLOR: #993300;
	 background: #ffff00;
     TEXT-DECORATION: none;
}

fieldset {
  /*   COLOR: #000000; */
     BORDER: 1px solid #CCCCCC;
     
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
     
}

fieldset2 {
     BORDER: 1px solid #000000;
     PADDING-TOP: 5px;
     PADDING-BOTTOM: 5px;
     PADDING-LEFT: 5px;
     PADDING-RIGHT: 5px;
}



legend {
/*
     COLOR: #993300; 
   COLOR: #666666; 
     FONT-FAMILY: verdana;
     FONT-SIZE: 8pt;
     FONT-WEIGHT: none;
     PADDING-BOTTOM: 5px;
  */   
     FONT-FAMILY: verdana;
     padding: 0.2em 0.5em;
     border:1px solid #CCCCCC;
     color:#993300;
     font-size:9pt;
     text-align:left;
     
}

legend2 {
/*     COLOR: #666666; */
     COLOR: #993300;  
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     FONT-WEIGHT: bold;
     PADDING-BOTTOM: 5px;
}

.MultiplePages {
     COLOR: #999999;
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     TEXT-ALIGN: right;
}

.MultiplePages A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.MultiplePages A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: underline;
}



/* Background colours for layout */

.BackgroundLeft {
     BACKGROUND-COLOR: #4A65A5;
}

.BackgroundSubMenu {
     BACKGROUND-COLOR: #BDCFF7;
}

.BackgroundRight {
     BACKGROUND-COLOR: #CEDFFF;
}

.BackgroundSidebar {
     BACKGROUND-COLOR: #CEDFFF;
}

/* Folder tree */

.LayerParent {
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
}

.LayerParent A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.LayerParent A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: underline;
}

.LayerChild {
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     MARGIN-LEFT: 20px;
}

.LayerChild A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.LayerChild A:hover {
/*   COLOR: #FF9A00;   */
     COLOR: #993300;
     TEXT-DECORATION: underline;
}

.LayerChild2 {
     FONT-FAMILY: verdana;
     FONT-SIZE: 10pt;
     MARGIN-LEFT: 20px;
}

.LayerChild2 A {
     COLOR: #4A65A5;
     TEXT-DECORATION: none;
}

.LayerChild2 A:hover {
/*   COLOR: #FF9A00;  */
     COLOR: #993300;
     TEXT-DECORATION: underline;
}

#dhtmltooltip {
     POSITION: absolute;
     WIDTH: 150px;
     BORDER: 1px solid #4A65A5;
     PADDING: 2px;
     BACKGROUND-COLOR: #FFFFFF;
     VISIBILITY: hidden;
     Z-INDEX: 100;
}

.dtree {
     font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 11px;
     color: #666;
     white-space: nowrap;
}

.dtree img {
     border: 0px;
     vertical-align: middle;
}

.dtree a {
     color: #333;
     text-decoration: none;
}

.dtree a.node, .dtree a.nodeSel {
     white-space: nowrap;
     padding: 1px 2px 1px 2px;
}

.dtree a.node:hover, .dtree a.nodeSel:hover {
     color: #333;
     text-decoration: underline;
}

.dtree a.nodeSel {
     background-color: #c0d2ec;
}

.dtree .clip {
     overflow: hidden;
}

.sFootNote  {
    FONT-SIZE: 8pt;
}

/**
	footer panel
*/
#footer {
    width:100%;
    position:fixed;
   /* bottom:11px;*/
    bottom:0px;
    left:0;
    z-index:5;
	/*padding-right:20px;*/
}
#innerfoot {
    height:14px;	
	float:right;
	position: relative; 
	margin-right:270px; /*show the div in the right*/
	/*width:100%;*/
}
#footpanel {
	/*position: fixed; */
	/*position: relative; */
	position: absolute; 
	bottom: 0; 
	left: 0;
	z-index: 9990; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width:250px;
	/*margin: 0 3%;*/
	/*margin-top:-1px;*/
	float:right; 
	margin-left: auto; 
	margin-right: 0
}

#footpanel ul {
	padding: 0; margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /*--Gives the bevel feel on the panel--*/
	font-size: 1.1em;
	text-decoration:none;
}
#footpanel ul li{
	padding: 0; margin: 0;
	float: left;
	position: relative;
	text-decoration:none;
}
#footpanel ul li a{
	padding: 5px;
	float: left;
	text-indent: -9999px; /*--For text replacement - Shove text off of the page--*/
	height: 16px; width: 16px;
	text-decoration: none;
	color: #333;
	position: relative;
}
html #footpanel ul li a:hover{	background-color: none; }
html #footpanel ul li a.active { /*--Active state when sub-panel is open--*/
	background-color: #fff;
	height: 17px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
	border: 1px solid #555;
	border-top: none;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}

a.alerts{ background: url('/sys/images/notify_icons/newspaper.png') no-repeat center center; }

#footpanel li#alertpanel 
{
	float: right; 
	text-decoration:none !important;
	list-style-type: none !important;
}  /*--Right align the chat and alert panels--*/
#footpanel li#normal 
{
	float: left; 
	text-decoration:none !important;
	list-style-type: none !important;
	padding-left:20px;
}  /*--Right align the chat and alert panels--*/

#footpanel ul li div a { /*--Reset link style for sub-panel links--*/
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
}
#footpanel ul li div a:hover {text-decoration: underline; background-color:none;} /*--Reset hover style for sub-panel links--*/

#footpanel .subpanel {
	position: absolute;
	left: 0; bottom: 27px;
	display: none;	/*--Hide by default--*/
	width: 250px;
	border: 1px solid #555;
	background: #fff;
	overflow: hidden;
	padding-bottom: 2px;

}
#footpanel h3 {
	background: #005B9C;
	padding: 5px 10px;
	/*color: #005B9C;*/
	color: #fff;
	FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
	cursor: pointer;
}
#footpanel h4 {
	padding: 5px 10px;
	color: #000;
	font-size: 8pt;
	FONT-FAMILY: verdana;
    FONT-SIZE: 10pt;
}
#footpanel h3 span { /*--Right aligned "-" icon--*/
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;
	font-weight: normal;
	color: #fff;
}

#footpanel .subpanel div{
	padding: 0; margin: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
}
#footpanel .subpanel div li{
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; 
	margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
	font-size: 10pt;
	text-decoration:none;
}

/*
	notifications
*/
#alertpanel .subpanel { right: 0; left: auto;/*--Reset left positioning and make it right positioned--*/ }
#alertpanel .subpanel div ul {
	border-top: 1px solid #f0f0f0;
	display: block;
	text-decoration:none;
}
#alertpanel .subpanel div ul li {padding: 2px;}
#alertpanel .subpanel div ul li:hover {background: #D1F5FF;}
#alertpanel .subpanel div ul li div span.delete{
	/*background: url('/sys/images/notify_icons/list_remove.png') no-repeat;
	float: right;
	width: 15px; height: 20px;
	margin: 1px;
	text-indent: -9999px;
	/*visibility: hidden; /*--Hides by default but still takes up space (not completely gone like display:none;)--*/
	font-size: 8pt;
	vertical-align:middle;
	text-align:right;
	/*width:10%;*/
	cursor: pointer;
	FONT-FAMILY: verdana;
}
#alertpanel .subpanel div ul li div span.delete:hover { background-position: right; }
#footpanel #alertpanel li.view {
	text-align: right;
	padding: 5px 10px 5px 0;
	
}
	
* {
	margin: 0;
	padding: 0;
	outline: none;
	/*margin-top:-1px;*/
}
/*
body {
	margin: 10px auto;
	width:100%;
	font:  10px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	
}
*/
.noticeheader
{
	height:20px;
	vertical-align:middle;
	background-color:#C5E5FA !important;
	font-size:8pt;
	/*border: 1px solid #BDC7D5;*/ 
}

#noticeul {
	    padding: 0;
	    margin: 0;
	    padding: 5px 0;
		width: auto;
		height: auto;
		float: right;
		/*overflow: auto;*/
	}
	#noticeul li {
	    display: block;
	   /* -webkit-border-radius: .3em .3em 0 0;
	    -moz-border-radius: .3em .3em 0 0;
	    border-radius: .3em .3em 0 0;*/
	}
	li.nnotices {
	    background: #BDC7D5;
	    font-size: 10pt;
	   /* font-weight: bold;*/
		float: right;
	    color: #333;
	   /* border: 1px solid #BDC7D5;*/
		height:60px;
		padding:1px;
		border-top:none;
		border-bottom: 1px solid #c3c3c3;
		overflow: hidden;
	}
	.scroll-pane { 
		width: 270px; 
		overflow:auto ; 
		padding-right: 10px; 
		height: 200px;
	}
	
#NotifyCount
{
	background: -moz-linear-gradient(center top , #F22914, #AB0B07) repeat scroll 0 0 transparent;
	background: #AB0B07; /*ie hack*/
    border: 1px solid #890405;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px #666666;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
	left:8px;
	//left:6px; /*ie hack*/
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.75em;
	font-size: 67%;
	z-index:9999;
	cursor:pointer;
}	
#mainpanel
{
	cursor:pointer;
}
.message
{
	font-size:10pt;
}

.notifymessage
{
	font-size:8pt;
	FONT-FAMILY: verdana;
}
