/*html, body{margin:0 auto; padding:0; font-family:Verdana, Geneva, sans-serif; font-size:10pt !important;}*/
ul{ margin:0 auto; padding:0; list-style:none;}
li{ margin:0 auto; padding:0; list-style-type:none; display:block; float:left;}