#container{margin:0 auto; padding:0; width:1248px;}
#welcome{margin:0 auto; width:100%; height:100px;}
#welcome span{display:block; width:100%; padding-top:50px;}
#assessments{margin:0 auto; width:100%; min-height:200px;}
#assessments ul{margin:0 auto; padding:0; width:100%;}
#assessments ul li{width:100%; height:24px;}
#assessments ul li span{display:inline-block; line-height:24px; text-align:center; cursor:default;}
.asmt-title{width:40%;}
.asmt-title a{color:#003399; text-decoration:none; cursor:pointer;}
.asmt-dt{width:29%;}
li.even{background-color:#f1f1f1;}