#container{margin:0 auto; padding:0.2em; padding-top:20px; margin-bottom:60px; min-width:1248; width:100%; height:auto; overflow:hidden;}
#header{width:100%; height:60px; text-align:center; vertical-align:middle;}
#header span{width:100%; height:auto; display:block; font-size:15pt; font-weight:bold;}
#main{width:100%; height:auto; display:table; position:relative;}
