#wrapper{width:100%; height:100%; padding:0px; margin:0 auto; position:absolute; overflow:auto;}
#container{margin:0 auto; margin:0px 15px 60px 15px; min-width:1024px; width:auto; height:auto; overflow:hidden;}
#header{width:100%; height:40px; text-align:center; vertical-align:middle;}
#header span{width:100%; height:auto; display:block; font-size:15pt; font-weight:bold;}
#main{width:100%; height:auto; display:table; position:relative;}
#tabs, #content{width:100%; height:auto; display:table; position:relative;}
#tabs .ui-tabs-panel{padding:0px;}
#nav{width:100%; height:auto; margin-top:20px;}
.navgtr{margin:0 auto; padding:0; display:table; width:100%; height:auto;}
.navgtr li{width:90%; height:28px; display:block;}
.navgtr li.hidden, .hidden{display:none;}
.navgtr li .sec-label{width:150px; heigth:100%; float:left; text-align:left; color:#666666;}
.navgtr li .sec-selector{width:380px; heigth:100%; float:left; text-align:left; vertical-align:bottom;}
.navgtr li .sec-selector select{width:380px; padding: 1px; color: #333333; font-family: verdana; font-size: 10pt;}
#show{width:100%; height:auto; margin-top:20px; display:table;}
#show ul{margin:0 auto; padding:0; width:100%; display:table;}
#show ul li, div#dtableheader{width:100%; height:auto; min-height:24px; padding-top:2px;}
#show ul li div, div#dtableheader div{height:auto; margin:0 auto; padding:0px; float:left; text-align:center; vertical-align:middle;}
#show ul li div span, div#dtableheader div span{width:100%; height:100%; margin:0px; padding:0.2em; display:inline-block; text-align:center; vertical-align:middle;}
/*
#show ul li span{display:inline-block; width:100%; height:100%; padding:0.2em; text-align:center; vertical-align:middle; cursor:default;}
*/
#show ul li div span select{width:50px; text-align:center;}
#show ul li div span a{width:100%; height:100%; display:inline-block; color:#003399; text-decoration:none; cursor:pointer;}
li.even{background-color:#f1f1f1;}
#commit{width:100%; height:auto; margin:0px; padding:0px; display:table;}
.btn-commit{width:120px; height:28px; float:left;}
.btn-commit input{width:110px; padding:0px; cursor:pointer; color:#4a65a5; font-family:Verdana, Geneva, sans-serif;}
.grey{color:grey !important; cursor:default !important;}
#comment{width:100%; height:auto; margin-top:20px; display:table;}
#comment .panel{display:inline; display:inline-block; display:table; float:left; height:auto;}
#comment .panel .rubric{display:block; width:300px; height:28px; font-weight:bold;}
#comment .panel ul{border-top:1px solid #cccccc; padding-right:2px;}
#comment .panel ul li{width:100%; min-height:26px; height:auto; border:1px solid #cccccc; border-top:0px;}
#comment .panel ul li div{height:auto; margin:0 auto; padding:0px; float:left; vertical-align:middle;}
#comment .panel ul li div span{margin:0px; display:inline-block; padding:0.2em;}
/**
*@updating jumpbar css.
 **/
#jumpbarHeader{float:none !important;} 




